<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="gallery.css">
</head>

<body>
    <div class="header">
        <span class="material-icons back">
            arrow_back_ios
        </span>
        <p class="tab-name">Gallery</p>
        <div class="options--dropdown">
            <button class="dropBtn">Select</button>
        </div>
    </div>

    <div class="gallery-cont">
        <!-- <div class="captured media">
            <div class="data">
                <img src="../../../../Web_D/Learning/HTML and CSS/logo2.png" alt="media">
            </div>

            <div class="data-2">
                <span class="material-icons btn--delete">
                    delete
                </span>
                <span class="material-icons btn--download">
                    arrow_downward
                </span>
            </div>
        </div> -->
    </div>

    <script src="../database/db.js"></script>
    <script src="./gallery.js"></script>

</body>

</html>